body {
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
  background-color: pink;
  color: aliceblue;
}

h1 {
  font-size: 60px;
  color: palevioletred;
}

p {
  font-size: larger;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: palevioletred;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
}

a:hover {
  color: aliceblue;
}

.photo {
  display: block;
  max-width: 60%;
  margin: 20px auto;
  border-radius: 10px;
}

footer {
  display: inline;
  text-align: center;
}

.nav {
  margin: 50px auto;
}
