body {
  margin: 50px 50px;
  text-align: center;
  background-color: pink;
  color: aliceblue;
}

h1 {
  font-size: 60px;
  color: palevioletred;
  text-align: center;
}

p {
  font-size: larger;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: palevioletred;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
}

a:hover {
  color: aliceblue;
}

.photo {
  display: block;
  max-width: 60%;
  margin: 20px auto;
  border-radius: 10px;
}

footer {
  display: inline;
  text-align: center;
}

.nav {
  margin: 50px auto;
}

@media (max-width: 600px) {
  body {
    text-align: justify;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  .photo {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }
  footer {
    font-size: 10px;
  }
}
